﻿@model UI.Models.SignInViewModel
@{
    // Layout = null;
    ViewData["Title"] = "SignIn";
}


<div class="row col-md-12">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card mt-5 " style="color:black">
            <div class="card-header font-weight-bolder text-center" style="color:#008cba;font-family:Arial;font-size:x-large">
                Sign In
            </div>
            <div class="card-body pb-5">
                <form asp-controller="Auth" asp-action="SignIn" method="post" autocomplete="off">
                    @*@Html.ValidationSummary(true, "", new { @class = "text-danger small" })*@
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label class="col-form-label font-weight-bolder">Username</label>
                        <div class="">
                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", placeholder = "Username", @autofocus = "autofocus" })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger small" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label font-weight-bolder">Password</label>
                        <div class="">
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger small" })
                        </div>
                    </div>
                    <hr />
                    <div class="row form-group">
                        <div class="col">
                            <button class="btn btn-success float-right">
                                Sign In
                            </button>
                            <span>
                                <a class="btn-link" asp-controller="Auth" asp-action="SignUp">
                                    Register an Account
                                </a>
                            </span>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

@section Scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/src/jquery.validate.unobtrusive.js"></script>
}


@*<div class="loading-bar"></div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/Font-Awesome/js/all.js"></script>*@