﻿@model SignUpViewModel
@{
    ViewData["Title"] = "Sign Up";
}

@section Styles{
    <style>
        .input-validation-error {
            border-color: #ff0000;
        }
    </style>

    <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" rel="stylesheet" />
}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active">Sign Up</li>
</ol>

<div class="row form-group header-lined">
    <div class="col">
        <h3>
            <i class="fa fa-user-plus"></i>
            Sign Up
        </h3>
    </div>
</div>

<form asp-controller="Auth" asp-action="SignUp" method="post" autocomplete="off">
    @Html.ValidationSummary(true, "", new { @class = "text-danger small" })
    @Html.AntiForgeryToken()
    <div class="row form-group">
        <label class="col-form-label col-3 font-weight-bolder">Name</label>
        <div class="col-9">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Full name" })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger small" })
        </div>
    </div>
    <div class="row form-group">
        <label class="col-form-label col-3 font-weight-bolder">Email</label>
        <div class="col-9">
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email" })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger small" })
        </div>
    </div>
    <div class="row form-group">
        <label class="col-form-label col-3 font-weight-bolder">Date of birth</label>
        <div class="col-9">
            @Html.TextBoxFor(model => model.DateOfBirth, "{0: yyyy-MM-dd}", new { @class = "form-control date-picker", placeholder = "Date of birth" })
            @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger small" })
        </div>
    </div>

    <div class="row form-group">
        <label class="col-form-label col-3 font-weight-bolder">Username</label>
        <div class="col-9">
            @Html.TextBoxFor(model => model.Username, new { @class = "form-control", placeholder = "Username" })
            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger small" })
        </div>
    </div>
    <div class="row form-group">
        <label class="col-form-label col-3 font-weight-bolder">Password</label>
        <div class="col-9">
            @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger small" })
        </div>
    </div>
    <div class="row form-group">
        <label class="col-form-label col-3 font-weight-bolder">Confirm Password</label>
        <div class="col-9">
            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "Re-enter your Password" })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger small" })
        </div>
    </div>
    <hr />
    <div class="row form-group">
        <div class="col">
            <a class="btn-link" asp-controller="Auth" asp-action="SignIn">
                Already have an account, sign in!
            </a>
            <button class="btn btn-success float-right" type="submit">
                Sign Up
            </button>
        </div>
    </div>
</form>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/src/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script>
        $(function() {
            $("ul.navbar-nav li:eq(4)").addClass('active');

            $.ajaxSetup({ cache: false });

            $(".date-picker").datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true
            });


        });
    </script>
}