﻿@model UI.Models.ProjectViewModel

@{
    Layout = null;
    ViewData["Title"] = "Create";

}
<div class="row">
    <div class="col-md-12">
        <form asp-area="Admin" asp-controller="Project" asp-action="_Create" method="post" id="projectCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Code" class="control-label font-weight-bolder"></label>
                <input asp-for="Code" class=" form-control" placeholder="Enter Project Code" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectName" class="control-label font-weight-bold"></label>
                <input asp-for="ProjectName" class="form-control" placeholder="Enter Project Name" />
                <span asp-validation-for="ProjectName" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/src/jquery.validate.unobtrusive.js"></script>

<script>
    $(document).ready(function () {
        $("input").css("background-color", "rgb(217, 235, 233)");
        // Add Date Piker
        //  $('.datepicker').datepick({ dateFormat: 'yyyy-mm-dd' });
    });

        // Button Submit Logic
        //$("#projectCreate").on("submit", function (e) {
        //    e.preventDefault();
        //    var frm = $(this);
        //    $.ajax({
        //        url: '/Project/Create/',
        //        type: frm.attr('method'),
        //        data: frm.serialize(),
        //        success: function (response) {
        //            if (response.status == true) {
        //                alert(response.message);
        //                // $('#exampleModal1').modal('hide');
        //            } else {
        //                alert(response.message);
        //            }
        //        },
        //        error: function () {
        //            alert("Error Occur.")
        //        }
        //    });
        //});
</script>
