﻿@model UI.Models.ProjectViewModel
@{ 
    Layout = null;
}
<form asp-area="Admin" asp-controller="Course" asp-action="_Edit" method="post" id="FrmprojectUpdate">
    @Html.ValidationSummary(true, "", new { @class = "text-danger small" })
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ProjectId)
   
    <div class="row form-group">
        <label class="col-form-label col-3 font-weight-bolder">Code</label>
        <div class="col-9">
            @Html.TextBoxFor(model => model.Code, new { @class = "form-control", placeholder = "Enter Code" })
            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger small" })
        </div>
    </div>
    <div class="row form-group">
        <label class="col-form-label col-3 font-weight-bolder">Project Name</label>
        <div class="col-9">
            @Html.TextBoxFor(model => model.ProjectName, new { @class = "form-control", placeholder = "Project Name" })
            @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger small" })
        </div>
    </div>
</form>

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/src/jquery.validate.unobtrusive.js"></script>