﻿@{
    @*Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";*@
    ViewData["Title"] = "Index";
}
@section Styles{
    <link href="~/lib/jquery-ui/themes/start/jquery-ui.css" rel="stylesheet" />
    <link href="~/datatable/DataTables-1.10.18/css/dataTables.jqueryui.css" rel="stylesheet" />
}
<div class="container-fluid mt-4">

    <button class="btn btn-success float-left mb-4" id="BtnNewProject" asp-area="Admin" asp-controller="Project" asp-action="_Create"
            data-toggle="tooltip" data-placement="top" title="Add New Project" data-original-title="Tooltip on left">
        Add New Project
    </button>
    <div id="Projects">
        @await Component.InvokeAsync("UI.ViewComponents.ProjectList")
    </div>

    @*<div class="modal" id="CreateModal"></div>*@

</div>
@section Scripts{
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    <script src="~/lib/notifyjs/dist/notify.js"></script>
    <script src="~/lib/bootbox.js/src/bootbox.js"></script>
    @*<script src="~/AppJs/ProcurementJS.js"></script>*@
    <script src="~/datatable/DataTables-1.10.18/js/jquery.dataTables.js"></script>
    <script src="~/datatable/DataTables-1.10.18/js/dataTables.jqueryui.js"></script>
    <script src="~/datatable/Buttons-1.5.6/js/dataTables.buttons.js"></script>
    <script src="~/datatable/JSZip-2.5.0/jszip.js"></script>
    <script src="~/datatable/pdfmake-0.1.36/pdfmake.js"></script>
    <script src="~/datatable/pdfmake-0.1.36/vfs_fonts.js"></script>
    <script src="~/datatable/Buttons-1.5.6/js/buttons.html5.js"></script>
    <script src="~/datatable/Buttons-1.5.6/js/buttons.print.js"></script>

    <script>
        $(document).ready(function () {
            //  $("input").css("background-color","peachpuff");
            $("#FrmprojectList").DataTable({

                //"fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                //    $('td', nRow).css('background-color', 'rgb(87, 108, 118)');
                //}//,
               // dom: 'frtBip',
                //buttons: [
                 //   'copy','csv', 'excel', 'pdf', 'print'
                //]

            });
        });

        // ------------------CRUD Operations--------------------


        function CloseDialog() {
            $("#divDialog").dialog("close");
        }

        function OKCreate() {
            //bootbox.confirm("Are you sure to save data", function (result) {

            //    if (result) {
            let frm = $("#projectCreate");
         //   alert(url);

            if (!frm.valid()) {
                return false;
            }
            else {
                //   
                $.ajax({
                    url: '/Admin/Project/_Create/',
                    type: 'POST',
                    data: frm.serialize(),
                    success: function (response) {
                        if (response.status == true) {
                            $.notify(response.message, "success");
                            $("#divDialog").dialog("close");

                            //reload the page
                            $.ajax({
                                url: '/Admin/Project/GetProjects/',
                                type: 'GET',
                                success: function (data) {
                                    $("#Projects").html(data);
                                },
                                error: function () {
                                    $.notify("Error has occured", "error");
                                }
                            });

                        } else {
                            $.notify(response.message, "warn");
                        }
                    },
                    error: function () {
                        $.notify("Error has occured", "error");
                    }
                });
           }
            // }
            //});
        }

        function DisplayCreateProjectDialog() {


            let applyButton = {
                text: "Submit",
                class: "btn btn-success",
                click: OKCreate
            }
            let cancelButton = {
                text: "Cancel",
                class: "btn btn-info",
                click: CloseDialog
            }

            $.get('/Admin/Project/_Create/',function (response) {

                let divDialog = $("#divDialog");

                divDialog.html(response);

                divDialog.dialog({
                    buttons: [applyButton, cancelButton],
                    height: 350,
                    width: 600,
                    modal: true,
                    title: "Create Project",
                    show: { effect: 'drop', direction: "up" },
                    hide: { effect: 'drop', direction: "down" },
                    resizable: false
                });
            });
        }

        $("#BtnNewProject").on("click", function (e) {
            e.preventDefault();
            let btn = $(this);

            DisplayCreateProjectDialog();
        });

        ///---------------End CRUD Operation-------------------


        //-----------------Update Project----------------------
        $(document).delegate("#FrmprojectList .js-update", "click", function (e) {
            e.preventDefault();
            let btn = $(this);
            DisplayUpdateProjectDialog(btn.attr('href'));

        });

        function DisplayUpdateProjectDialog(url) {


            let applyButton = {
                text: "Submit",
                class: "btn btn-success",
                click: OKUpdate
            }
            let cancelButton = {
                text: "Cancel",
                class: "btn btn-info",
                click: CloseDialog
            }
            //'/Admin/Project/_Edit/'
            $.get(url, function (response) {

                let divDialog = $("#divDialog");

                divDialog.html(response);

                divDialog.dialog({
                    buttons: [applyButton, cancelButton],
                    height: 350,
                    width: 600,
                    modal: true,
                    title: "Update Project",
                    show: { effect: 'drop', direction: "up" },
                    hide: { effect: 'drop', direction: "down" },
                    resizable: false
                });
            });
        }

        function OKUpdate() {
            //bootbox.confirm("Are you sure to save data", function (result) {

            //    if (result) {
            let frm = $("#FrmprojectUpdate");
            //   alert(url);

            if (!frm.valid()) {
                return false;
            }
            else {
                //   
                $.ajax({
                    url: $("#projectUpdate").attr('href'),
                    type: 'POST',
                    data: frm.serialize(),
                    success: function (response) {
                        if (response.status == true) {
                            $.notify(response.message, "success");
                            $("#divDialog").dialog("close");

                            //reload the page
                            $.ajax({
                                url: '/Admin/Project/GetProjects/',
                                type: 'GET',
                                success: function (data) {
                                    $("#Projects").html(data);
                                },
                                error: function () {
                                    $.notify("Error has occured", "error");
                                }
                            });

                        } else {
                            $.notify(response.message, "warn");
                        }
                    },
                    error: function () {
                        $.notify("Error has occured", "error");
                    }
                });
            }
            // }
            //});
        }

        //------------------End Update Project------------------

        //-----------------Delete Project--------------------

        $(document).delegate("#FrmprojectList .js-delete", "click", function (e) {
            e.preventDefault();
            let btn = $(this);

            bootbox.confirm('Are you sure to <b>Delete</b> this Project?', function (result) {
                if (result) {
                    $.ajax({
                        url: btn.attr('href'),
                        type: 'POST',
                        //data: { Id: btn.attr('data-id') },
                        success: function (response) {
                            if (response.status == true) {
                                $.notify(response.message, "success");
                                $.ajax({
                                    url: '/Admin/Project/GetProjects/',
                                    type: 'GET',
                                    success: function (data) {
                                        $("#Projects").html(data);
                                    },
                                    error: function () {
                                        $.notify("Error has occured", "error");
                                    }
                                });

                            } else {
                                $.notify(response.message, "warn");
                            }
                        },
                        error: function () {
                            $.notify("Error has occured", "error");
                        }
                    });
                }
            });
        });

        //-----------------End Delete Project-------------------------- 
    </script>
}

