﻿<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootswatch/dist/united/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/Font-Awesome/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Styles", required: false)
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
        <a class="navbar-brand" asp-area="" asp-controller="DashBoard" asp-action="Index">Procurement System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="Project" asp-action="Index">Projects</a>
                </li>
                @*<li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
            </li>*@
            </ul>
            <ul class="navbar-nav float-right">
                @if (!User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Auth" asp-action="SignIn">
                            <i class="fa fa-sign-in-alt"></i>
                            Sign In
                        </a>
                    </li>
                }
                else
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Welcome @User.Identity.Name!
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" asp-area="" asp-controller="Auth" asp-action="SignOut">Sign Out</a>
                    </li>
                }
            </ul>
        </div>
    </nav>

    <div class="card">
        <div class="card-body">
            <i class="fa fa-life-buoy fa-lg"><small class="ml-4">@ViewBag.PageName</small> <br /> @ViewBag.Description</i>
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="Dashboard" asp-action="Index">Project</a></li>
                    <li class="breadcrumb-item active">Project list</li>
                </ol>
            </div>

        </div>

    </div>

    <div class="container-fluid">
        @RenderBody()
        <hr />
        <div id="divDialog"></div>
        <footer>
            <p>&copy; @DateTime.Now.Year - UI</p>
        </footer>
    </div>
    <div class="loading-bar"></div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/Font-Awesome/js/all.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
