﻿@model IEnumerable<ProjectViewModel>

<table class="table table-hover table-condensed " id="FrmprojectList">
    <thead>
        <tr>
            <th>Code </th>
            <th> Project Name</th>
            <th class="text-center"> Actions </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Code
                    
                </td>
                <td>
                    @item.ProjectName
                </td>
                <td class="text-center">
                    <a class="btn btn-sm btn-warning js-update"  href="@Url.Action("_Edit","Project" ,new {id=item.ProjectId })" id="projectUpdate">
                        <i class="fa fa-pencil-alt"></i>
                    </a>
                    <a class="btn btn-sm btn-danger js-delete"                    
                        href="@Url.Action("Delete","Project" ,new {id=item.ProjectId })"
                       id="projectDelete">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


<script>
   
</script>
